body{
    animation: transitionIn 1s;
}
@keyframes transitionIn {
    from{
        opacity: 0.3;
        transform: rotateY(-20deg);
    }
    to{
        opacity: 0.8;
        transform: rotateX(0);
    }
}

.icons {
    padding-left: 30px;
}
.icons li{
    display: inline-block;
    margin: 10px;
}
.icons a{
    text-decoration: none;
    color: black;
}
.ico-ns{
    margin-right: 100px;
}
 .drop, .drop:hover {
    padding-right: 30px;
    color: black;
    margin-top: 10px;
    margin-left: 4px;
    text-decoration: none;
    cursor: pointer;
}
hr{
    margin-top: -20px;
}
/* ====================================================2 */


.for-m input[type=text]{
padding-left: 20px;
    height: 45px;
    width: 200px;
    border: 1px solid rgb(224, 219, 219);
}
.for-m input[type=text]:focus{
    outline: none;
    border: 1px solid rgb(224, 219, 219);
}
.for-m input[type=submit]{
    padding: 5px 25px;
    border: none;
    background-color: orange;
}
.bi-arrow-clockwise {
    font-size: 25px;
}

.refresh {
    font-size: 10px;
}

.bi-suit-heart {
    font-size: 25px;
}

.bi-house-lock {
    font-size: 25px;
}

.bi-person-plus-fill {
    font-size: 20px;
}

.icons i {
    padding-left: 15px;
    cursor: pointer;
}

/* ==================================================================3 */
.bi-search{
    font-size: 15px;
    padding: 0px 7px;
}
.labl label{
    margin-right: 20px;
    font-size: 25px;
}
.labl p{
    margin-right: 20px;
    margin-top: 10px;
}
.canvas ul{
    
}
.canvas li{
    list-style-type: none;
    padding: 10px;
}
.canvas li:hover{
    background-color: orange;
}
.canvas a{
    text-decoration: none;
}

/* ===========================================================canvas  */
 .search{
    background-color: orange;
}
.foms input[type=text] {
    outline: none;
    border: 1px solid rgb(224, 219, 219);
}

.poiu{
    height: 65px;
}

.about{
    /* background-color: red; */
    
    width: 63%;
    height: 50px;
    margin-bottom: 15px;

}
.about li{
    display: inline-block;
    padding-right: 30px;  
    padding-top: 12px;
}
.about a{
    text-decoration: none;
    color: black;
}
.bton{
    padding: 8px 23px;
    background-color: rgb(14, 11, 11);
    color: white;
    border: none;
    margin-bottom: 16px;
}

.d-rop a{
    padding: 15px;
}
.d-rop a:hover{
    background-color: orange;
    transition: 0.5s;
}
#dr-op:hover{
    background-color: white;
    color: orange;
    text-decoration:underline;
}


/* responsive design  */
@media screen and (max-width:768px) {
    .ico-ns{
        display: none;
    }
    
}

@media screen and (max-width:991px) {

    .icons{
        padding-left: 2px;
    }
    .ico-ns{
        margin-right: 30px;
    }
    .ico-ns .drop{
        margin-left: 0px;
    }

    .hid-e{
        display: none;
    }
    .imge{
        margin: 0px auto;
    }
    .poiu{
        display: none;
    }
}

@media screen and (max-width:1200px) {
    .about{
        /* margin-bottom: 35px; */
        font-size: 15px;
    }
    .bton{
        /* margin-bottom: 20px; */
     display: none;   
    }
    /* .imge{
        margin: 0px auto;
    } */
    
}






.image img{
    height: 450px;
    width: 450px;
    margin-bottom: 20px;
}
.headin {
    background-color: cornsilk;
}
.headi{
    padding: 50px;
    text-align: center;
}
.cont-ent h3{
margin-top: 35px;
color: #918d8d;
}
.cont-ent p ,li{
    color: #918d8d;
}
.bi-arrow-down-short{
    color: black;
}
.bi-distribute-vertical{
    color: black;
}

  

/* =================================5 */

.box{
    margin-left: 40px;
    margin-top: 30px;
}
.box .bi-star{
    color: orange;
    font-size: 20px;
    padding-left: 5px;
}
.box img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.box p{
    margin-top: 20px;
}

/* =========================================6 */
.bi-cart3{
    font-size: 40px;
    margin-left: 10px;
    margin-right: 20px;
    /* color: orange; */
}
.ions i{
    font-size: 40px;
    margin-left: 10px;
    margin-right: 20px;
    /* color: orange; */
}
.bi-file-lock2{
    font-size: 40px;
    margin-left: 10px;
    margin-right: 20px;
    /* color: orange; */
}
.bi-hand-thumbs-up-fill{
    font-size: 40px;
    margin-left: 10px;
    margin-right: 20px;
    /* color: orange; */
}
.ico-n{
    background-color: orange;
    margin-top: 40px;
}
.ico-n p{
    font-size: 14px;
}
.fonts{
    padding-top: 20px;
}



/* ===============================================7 */


.bi-person-square{
    color: orange;
    font-size: 20px;
    margin-right: 10px;
}
.bi-chat-left-text-fill{
    color: orange;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 40px;
}
.bi-arrow-return-right{
    margin-left: 30px;
    color: black;
}


/* Responsive design  */

@media screen and (max-width:575px){
    .butto-n img {
        /* margin: 15px; */
        height:18px;
        width: 150px;
    }
    .talha{
        height: 290px;
    }
    .right{
        display: none;
    }
    .container-fluid form{
        width: 100%;
        margin: 5px;
    }
    .div2 form input{
        display: none;
    }
    .header{
        display: none;
    }
    .watch h4{
        width: 100%;
        margin-left: 10px;
    }
    .watch h2{
        width: 100%;
        margin-left: 10px;
    }
    .watch p{
        width: 100%;
        margin-left: 10px;
    }    
    .row{
        display: grid;
    }
    .w-75 button{
        width: 100%;
        margin: auto;

    }
    .boxx img{
        height: 250px;
        width: 250px;
    }
    .bottm{
        margin-bottom: 20px;
    }
    .cont-ent{
        width: 100%;
        margin-left: 3px;
    }
    .contact{
        width: 100%;
        /* margin-left: 10px; */
    }
    .image img {
        height: 270px;
        width: 270px;
        margin-bottom: 20px;
    }
    .div2 h2{
        font-size: 30px;
    } 
    .bi-node-plus-fill{
        font-size: 25px;
    }
    .bi-arrow-clockwise{
        font-size: 20px;
    }
    .bi-suit-heart{
        font-size: 20px;
    }
    .bi-house-lock{
        font-size: 20px;
    }
    .bi-person-plus-fill{
        font-size: 15px;

    }
    /* .boxx {
        height: 350px;
    }

    .hi-de {
        display: none;
    }
    h2{
        display: none;
    } */
}

@media screen and (max-width:767px){
    .container-fluid form{
        width: 100%;
        margin: 5px;
    }
    .right{
        display: none;
    }
    .div2 form input{
        display: none;
    }
    .header{
        display: none;
    }
    .boxx img{
        height: 250px;
        width: 250px;
    }
    .bottm{
        margin-bottom: 20px;
    }

}
        
@media screen and (max-width:991px) {

    .container-fluid form{
        width: 100%;
        margin-left: 10px;
    }
    .div2 form input{
        display: none;
    }
    .header li{
        margin: 10px;
    }
    .header .f-button{
        display: none;
    }
    .bottm{
        margin-bottom: 20px;
    }
}
@media screen and (max-width:1250px){
    .header .f-button{
        display: none;
    }
    
}